<section class="w-full pt-8 bg-gray-50">
  <!-- Heading -->
  <div class="text-start mb-6 p-5">
    <h2 class="text-3xl font-bold text-gray-800">Explore Location</h2>
  </div>

  <!-- Map Container -->
  <div class="relative w-screen h-[480px] sm:h-[360px] md:h-[480px] lg:h-[600px] border border-gray-300 shadow-lg">
    <iframe 
      src="https://www.google.com/maps/d/embed?mid=1TCvk8iPmPdlrketnEEGvFD1AGudHc0o&ehbc=2E312F" 
      class="w-full h-full" 
      loading="lazy" 
      referrerpolicy="no-referrer" 
      allowfullscreen>
    </iframe>
  </div>
</section>
